@charset "UTF-8";



body {
	background-color: white;

	
	width: 955px;
}

	div#studyLV_div {
		background-color: #f5f7fb;
		
		width: 955px;
	}

/* -------------------------------------- TOP -------------------------------------- */
	
		h3#studyLV_Title {
			font-weight: bold;
		}
		
		div#studyLV_Load {
			background-color: white; 
			
			border: 1px solid gray; 
			
			padding: 5px; 
			margin: 3px; 
			display: inline-block; 
			
			float: left;
		}
		
		div#studyLV_Load:hover {border: 1px solid blue;}
		
		a#RSS_loadA:link {text-decoration: none; color: black;}
		a#RSS_loadA:visited {text-decoration: none; color: black;}
		a#RSS_loadA:acheive {text-decoration: none; color: black;}
		a#RSS_loadA:hover {text-decoration: none; color: black;}
		
		p#studyLV_Guide {
			clear: both; 
			
			font-size: 12px; 
			margin: 3px;
		}
		
		div#studyLVTopBorder {border-bottom: 1px solid rgba(86, 111, 237, 0.3);}
	
/* -------------------------------------- Middle -------------------------------------- */

		div#Content_middle {
			border-left: 1px solid rgba(86, 111, 237, 0.3);
			border-right: 1px solid rgba(86, 111, 237, 0.3);
		}
		
		div#studyLVPlus {
			border-bottom: 1px solid rgba(86, 111, 237, 0.3); 
		}
			
		.studyLVCloseButton {
			
		}
					
		input#isHighSchoolCheck {
			float: left; 
			padding-top: 50px;
		}
		
		#rssTypeFirst { 
			float: left; display: inline-block; background-color:white; margin-top: 8px; padding-left: 5px;padding-top: 13px; border: 1px solid lightgray; 
			width: 105px; height: 37px;
		}

/* -------------------------------------- Bottom -------------------------------------- */	
		
		div#studyLVBottomBorder {border-top: 1px solid rgba(86, 111, 237, 0.3);}
		
		a#studyLVplusButton {text-decoration: none;}
		a#studyLVplusButton:active {color: rgba(86, 111, 237, 1);}
	
			div#studyLVplusButtonDiv { 
				background-color: white; 
				
				text-align:center;
				padding: 10px; 
				padding-bottom: 20px; 
				
				border: 1px solid rgba(86, 111, 237, 0.3);; 
				
				width: 933px; 
				height: auto;
			}
			div#studyLVplusButtonDiv:hover {border: 1px solid rgba(86, 111, 237, 1);}
	
	
	