@charset "UTF-8";
	#hr_resume{
		margin: 10px auto 10px auto;
		width: 95%;
	}
	body{
		margin: 0; padding: 0;
	}
	body #header{
		background: #5882FA; 
		width: 100%; height: 50px;
	}
	#section{
		background: white; 
		position: relative;
		margin:50px auto; width: 1000px; text-align: left;
		z-index: 2;
	}
	#nav{
		background: white;
		position: fixed; top: 100px; right : 230px;
		width: 200px;
		z-index: 1;
	}
	#resumeFooter{
		background: #5882FA;
		margin:20px auto; width: 960px; text-align: left;
		padding: 20px;
	}
	#section tr, td{
		padding: 5px;
	}
	
	#test{
		background-color: white; width: 180px;
	}
	#section > div{
		background:	white;
	}
	#section input{
		height: 50px;
	}
	#section select{
		height: 56px;
	}
	#nav_menu tr td{
		height: 36px;
	}
	#working_conditions .header{
		width: 1000px;
	}
	#working_conditions .aside{
		width: 120px;
	}
	#working_conditions .header .left_workspace{
		width: 320px;
	}
	#working_conditions .header .right_workspace{
		vertical-align: center;
	}
	#rs_workspace_select1, #rs_workspace_select2, #rs_job_select1, #rs_job_select2, #rs_job_select3{
		display: none;
	}
	#rs_workspace_select1 select, #rs_workspace_select2 select, #rs_job_select1 select, #rs_job_select2 select, #rs_job_select3 select{
		width: auto;
	}
	#rs_workspace_select2 select, #rs_job_select2 select{
		left: 150px;
	}
	#rs_job_select3 select{
		left:300px;
	}
	#rs_title{
		width: 996px;
	}
	.button{
		width:80px;
	    background-color: #5882FA;
	    border: none;
	    color:#fff;
	    padding: 10px 0;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 15px;
	    margin: 4px;
	    cursor: pointer;
	}
	.button:hover{
		 background-color: #2E9AFE;
	}
	.button_widthFree{
		width: auto;
		padding: 10px;
	}
	.button_resumeWrite{
		width: 97%;
		bottom: 0px;
	}
	.addButton_css{
		width:300px;
	    background-color: #5882FA;
	    border: none;
	    color:#fff;
	    padding: 10px 0;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 15px;
	    margin: 4px;
	    cursor: pointer;
	}
	.working_conditions_item1{
		padding-left: 8px;
		vertical-align: center;
	}
	.rs_type{
		margin-right: 75px;
	}
	.rs_email{
		width: 350px;
	}
	.rs_address{
		width: 480px;
	}
	.rs_birth{
		width: 170px;
	}
	.checkbox{
		width: 20px;
		height: 20px;
		border: 2px solid gray;
		vertical-align: -20px;
	}
	#studyLVDiv{
		display: none;
	}
	#workLVDiv{
		display: none;
	}
	#internDiv{
		display: none;
	}
	#eduDiv{
		display: none;
	}
	#licenseDiv{
		display: none;
	}
	#trophyDiv{
		display: none;
	}
	#foreignDiv{
		display: none;
	}
	#languageDiv{
		display: none;
	}
	#portfolioDiv{
		display: none;
	}
	#vipDiv{
		display: none;
	}
	#prDiv{
		display: none;
	}
	#rs_workspace{
		display: none;
	}
	#rs_job{
		display: none;
	}
	#resumeGuide > li{
		color: white;
		font-size: 14px;
	}
