@charset "UTF-8";
hr{
		text-align: center;
		width: 95%;
	}
	body{
		margin: 0; padding: 0;
	}
	body #header{
		background: lightgray; 
		width: 100%; height: 50px;
	}
	#section{
		background: white; 
		margin:50px auto; width: 1000px; text-align: left;
	}
	#nav{
		background: white;
		position: fixed; top: 100px; right : 80px;
		width: 200px; float: right;
	}
	#section tr, td{
		padding: 5px;
	}
	
	#test{
		background-color: white; width: 180px;
	}
	#section > div{
		background:	white;
	}
	#section input{
		height: 50px;
	}
	#section select{
		height: 56px;
	}
	#nav_menu tr td{
		height: 36px;
	}
	#working_conditions .header{
		width: 1000px;
	}
	#working_conditions .aside{
		width: 120px;
	}
	#working_conditions .header .left{
		width: 320px;
	}
	#working_conditions .header .right{
		vertical-align: center;
	}
	#rs_workspace_select1, #rs_workspace_select2, #rs_job_select1, #rs_job_select2, #rs_job_select3{
		display: none;
	}
	#rs_workspace_select1 select, #rs_workspace_select2 select, #rs_job_select1 select, #rs_job_select2 select, #rs_job_select3 select{
		width: auto;
	}
	#rs_workspace_select2 select, #rs_job_select2 select{
		left: 150px;
	}
	#rs_job_select3 select{
		left:300px;
	}
	#rs_title{
		width: 996px;
	}
	.button{
		width:80px;
	    background-color: #5882FA;
	    border: none;
	    color:#fff;
	    padding: 10px 0;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 15px;
	    margin: 4px;
	    cursor: pointer;
	}
	.button:hover{
		 background-color: #2E9AFE;
	}
	.button_widthFree{
		width: auto;
		padding: 10px;
	}
	.button_resumeWrite{
		width: 97%;
		bottom: 0px;
	}
	.working_conditions_item1{
		padding-left: 8px;
		vertical-align: center;
	}
	.rs_type{
		margin-right: 75px;
	}
	.rs_email{
		width: 390px;
	}
	.rs_address{
		width: 480px;
	}
	.rs_birth{
		width: 170px;
	}
	.checkbox{
		width: 20px;
		height: 20px;
		border: 2px solid gray;
		vertical-align: -20px;
	}